/*Style for head */
<style>
body {
      background-image: url("C:/Users/lwintona/Desktop/ONG-OLYTA/3e edition 2016/cheere.jpg");
}
</style>

/*Style for body*/
body{

}

.name{
  background-color:inherit;
  padding: 1px 2px;
}
h1{
  margin-left: 50px;
  font-size: 50px;
  font-weight: bold;
  font-family: arial;
  color: skyblue;
}

p{
  font-weight: bold;
  margin-left: 50px;
  color: gray
}
/* Style the navigation bar nav_bar */
.nav_bar {
    width: 860px;
    margin:auto;
    padding: 0px 20px 0px 20px;
}

.tabs li {
    color: #222;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

.tabs .tab-link {
    background: gray;
    color: black;
}

.Donate{
  background color:orange;
  color: green;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: helvetica;
}

/*image on home page style*/

/*footer */

.footer{
  position: sticky;
  left:0;
  bottom:0;
  width: 100%;
  background-color: inherit;
  color: black;
  text-align: center;
  padding: 150px;
}

#footer li{
  display: inline;
  color: white;
}

.social-icons li{
  display: inline;
}
